/* Coolors Exported Palette - coolors.co/dd6e42-e8dab2-4f6d7a-c0d6df-eaeaea */

$color1: #dd6e42; //rgba(221, 110, 66, 100)
$color2: #e8dab2; //rgba(232, 218, 178, 100)
$color3: #4f6d7a; //rgba(79, 109, 122, 100)
$color4: #c0d6df; //rgba(192, 214, 223, 100)
$color5: #eaeaea; //rgba(234, 234, 234, 100)